name: build

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macOS-26, windows-2025]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Checkout IDA SDK 9
      uses: actions/checkout@v6
      with:
        repository: HexRaysSA/ida-sdk
        ref: v9.3
        path: build/idasdk

    - name: Install CMake and Ninja
      uses: lukka/get-cmake@latest
      with:
        cmakeVersion: "~3.31.0"
        ninjaVersion: "~1.12.0"

    - name: Configure CMake
      working-directory: ${{ github.workspace }}/build
      shell: bash
      run: |
        cmake "${GITHUB_WORKSPACE}" -G Ninja \
          "-DCMAKE_BUILD_TYPE=${BUILD_TYPE}" \
          "-DIdaSdk_ROOT_DIR=${GITHUB_WORKSPACE}/build/idasdk"

    - name: Build
      working-directory: ${{ github.workspace }}/build
      shell: bash
      run: cmake --build . --config "${BUILD_TYPE}"

    - name: Archive artifacts
      uses: actions/upload-artifact@v6
      with:
        name: idaidle-${{ matrix.os }}
        path: ${{ github.workspace }}/build/idaidle*.*
